h1{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 2rem;
}
h2{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}
h3{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
}
p{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 0.9rem;
}

.column3 img {
    height: 30px;
    width: 30px;
}

.column1 img {
    height: 70px;
    width: 70px;
}

input[type="email"] {
    width: 70%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}