:root {
    --color1: #FF8A00;
    --color2: #FFBB37;
    --color3: #fff;
    --color4: #000;
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.video-container {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    top: 0;
    left: 0;


}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.découvrir {
    position: absolute;
    top: 400px;
    width: 100%;
    text-align: center;
    height: 400px;
    Z-index: 1;
    font-size: 100%;
}

.slogan {
    color:var(--color3);
    text-align: center;
    font-size:80px;
    font-weight:bold;
}

.rectangle {
    width:80%;
    background-color: rgba(99, 99, 99, 0.5);
    position:absolute;
    Z-index:1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

button {
    border: 1px solid #FF8A00;
    border-radius: 25px;
    padding: 8px 20px 8px 20px;
    background-color: #FF8A00;
    transition: all 0.2s;
    color: var(--color3);
    font-size: medium;
    cursor: pointer;
    margin-top: 4rem;
}

button:hover {
    border: 1px solid var(--color2);
    background-color: var(--color2);
    transition: all 0.2s;
}

a {
    text-decoration: none;
    color: var(--color3);
}

.event-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 4rem;
    margin-right: 2rem;
    margin-left: 2rem;
}

.card-event {
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 400px;
    margin: 20px;
    overflow: hidden;
}

.card-event img {
    width: 300px;
    height: 300px;
}

.titre,
.date {
    margin-left: 10px;
}

.link-voir {
    display: flex;
    justify-content: end;
    color: black;
    margin: 0 10px 0 10px;
    align-items: end;
}

.column3 img {
    height:30px;
    width:30px;
}

.column1 img {
    height:70px;
    width:70px;
}

input[type="email"] {
    width: 70%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}